body {
  background-image: url('./login.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  background: #ffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0001
}